
<form [formGroup]="cardForm" (ngSubmit)="onSubmit()" class="ui form">
  <div class="two fields">
    <div class="field">
      <label for="frente">Frente</label>
      <textarea
        formControlName="front"
        id="frente"
      >
      </textarea>
    </div>
    <div class="field">
      <label for="dorso">Dorso</label>
      <textarea
        formControlName="back"
        id="dorso"
      >
      </textarea>
    </div>
  </div>
  <div id="buttons">
    <!--Este boton es div para que no envie la forma-->
    <div
      id="clear-button"
      (click)="_clearFields()"
      class="ui submit green button"
    >
      Limpiar Forma
    </div>
    <div
      (click)="onSubmit()"
      id="submit-button"
      class="ui submit yellow button"
      [ngClass]="{ disabled: !cardForm.valid }"
    >
      {{ state === 'edit' ? 'Enviar Cambios' : state === 'add' ? 'Crear Tarjeta' : null }}
    </div>
  </div>


</form>
