
<form [formGroup]="cardForm" (ngSubmit)="onSubmit()" class="ui form">
  <div class="two fields">
    <div class="field">
      <label for="frente">Frente</label>
      <textarea
        formControlName="front"
        id="frente"
      >
      </textarea>
    </div>
    <div class="field">
      <label for="dorso">Dorso</label>
      <textarea
        formControlName="back"
        id="dorso"
      >
      </textarea>
    </div>
  </div>
  <button class="ui submit button">Submit</button>
</form>
