
.ui.form {
  width: 50%;
  margin: auto auto 70px;
}

#buttons {
  display: flex;
  float: right;
}

.button {
  min-width: 150px;
}

#submit-button {
  margin-left: 30px;
}

@media (max-width: 700px) {
  .ui.form {
    width: 85%;
  }

  .button {
    min-width: 140px;
  }

  #buttons {
    float: none;
  }

  #clear-button {
    float: left;
  }

  #submit-button {
    float: right;
    margin-left: auto;

  }
}
