
.times.icon {
  position: absolute;
  right: 7px;
  top: 7px;
}

.ui.card {
  min-height: 200px;
  max-width: 500px;
  margin: 10px;
}

.head {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ui.header {
  margin: 20px
}

.ui.divider {
  margin: 50px 20px;
}
