
<div class="head">
  <h2 class="ui center aligned header">{{ themeName | titlecase }}</h2>
</div>

<div class="head">
  <button
    [routerLink]="['shuffle']"
    id="comenzar-btn"
    class="ui red button"
  >Comenzar
  </button>
</div>

<div class="ui divider"></div>

<div class="ui four stackable cards">
  <div *ngFor="let card of cards" class="ui card">
    <i (click)="onDelete(card._id)" class="times link red icon"></i>
    <div class="content">
      <div class="header"></div>
      <div class="description">
        <p>
          {{ card.front }}
        </p>
      </div>
    </div>
    <div (click)="onEdit(card)" class="ui bottom attached button">
      <i class="edit icon"></i>
      Editar
    </div>
  </div>
</div>

<div class="ui divider"></div>

<h2 class="ui center aligned header">Agregar o Editar Tarjeta</h2>
<app-card-form
  [themeName]="themeName">
</app-card-form>
