
.times.icon {
  font-size: 20px;
  color: var(--main-color);
  position: absolute;
  right: 7px;
  top: 7px;
}

.ui.card {
  min-height: 200px;
  max-width: 500px;
  margin: 10px;
  background: var(--card-bg);
}

.ui.bottom.attached.button {
  background: var(--main-color);
  color: var(--secondary-color);
}

.head {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ui.header {
  margin: 20px
}

.ui.divider {
  margin: 50px 20px;
}

@media (max-width: 700px) {
  .ui.bottom.attached.button {
    position: absolute;
    bottom: 0;
  }
}

p {
  font-weight: bolder;
}

.description {
  margin-top: 20px !important;
}

#begin-button {
  background: var( --main-color-var1);
  color: white;
}
