
<h2 class="ui center aligned header">{{ themeName | titlecase }}</h2>
<app-card-form (formSubmitted)="onFormSubmitted($event)"></app-card-form>
<div class="ui four stackable cards">
  <div *ngFor="let card of cards" class="ui card">
    <i class="times link red icon"></i>
    <div class="content">
      <div class="header">{{ card.front | titlecase }}</div>
      <div class="description">
        <p>
          {{ card.back }}
        </p>
      </div>
    </div>
    <div class="ui bottom attached button">
      <i class="edit icon"></i>
      Editar
    </div>
  </div>
</div>
