
<h2 class="ui center aligned header">Temas</h2>
<div *ngFor="let theme of themesArray" class="ui center aligned custom-color segment">
  <a (click)="onDelete(theme._id)"><i class="times link icon"></i></a>
  <a [routerLink]="['cards/', theme.name]"><i class="pencil alternate link icon"></i></a>
  {{ theme.name }}
</div>

<div class="ui fluid action input">
  <input [(ngModel)]="addInput" type="text" placeholder="Agregar Tema">
  <button (click)="onAdd()" class="ui button">Agregar</button>
</div>

<router-outlet></router-outlet>



