.ui.center.aligned.header {
  margin-top: 150px;
}

.ui.segment {
  background: var(--card-bg);
  margin: auto auto 10px;
  width: 50%;
}

.ui.action.input {
  margin: auto auto 10px;
  width: 50%;
}

.ui.button {
  background: var(--main-color);
  color: var(--secondary-color);
}

.times.icon {
  color: var(--main-color);
  position: absolute;
  right: 7px;
}

.pencil.icon {
  color: var(--main-color-var1);
  position: absolute;
  right: 35px;
}

@media (max-width: 700px) {
  .ui.segment {
    width: 85%;
  }

  .ui.action.input {
    width: 85%;
  }
}

.ui.custom-color.segment:not(.inverted) {
  border-top: 4px solid var(--secondary-color) !important;
}
