
.ui.red.segment {
  margin: auto auto 10px;
  width: 50%;
}

.ui.action.input {
  margin: auto auto 10px;
  width: 50%;
}

.times.icon {
  position: absolute;
  right: 7px;
}

.pencil.icon {
  position: absolute;
  right: 35px;
  color: #158349;
}

@media (min-width: 300px) {
  .ui.red.segment {
    width: 75%;
  }

  .ui.action.input {
    width: 75%;
  }
}
