
.ui.segment {
  margin: auto auto 10px;
  width: 50%;
}

.ui.action.input {
  margin: auto auto 10px;
  width: 50%;
}

.times.icon {
  position: absolute;
  right: 7px;
}

.pencil.icon {
  position: absolute;
  right: 35px;
  color: #158349;
}

@media (max-width: 700px) {
  .ui.segment {
    width: 85%;
  }

  .ui.action.input {
    width: 85%;
  }
}

.ui.custom-color.segment:not(.inverted) {
  border-top: 2px solid #E53935!important;
}
