
<div class="flex">

  <div class="ui blurring segment">
    <div class="ui header">
      {{ currentCard.front }}
    </div>
    <div class="ui top aligned dimmer">
      <div class="content">
        {{ currentCard.back }}
      </div>
      <div id="thumbs" class="ui center aligned content">
        <i (click)="onError()" class="thumbs down large red link icon"></i>
        <i (click)="onSuccess()" class="thumbs up large green link icon"></i>
      </div>
    </div>
  </div>

</div>

<div class="flex">
  <div (click)="onNext()" class="ui center aligned button">Siguiente</div>
</div>
