
<div class="flex">
  <div class="ui card">
    <div class="ui slide masked reveal">
      <div class="visible center aligned content">
        {{ currentCard.front }}
      </div>
      <div class="hidden center aligned content">
        {{ currentCard.back }}
        <div id="buttons" class="extra content">
          <div class="ui two buttons">
            <div class="ui green button">Approve</div>
            <div class="ui red button">Decline</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex">
  <div (click)="onNext()" class="ui center aligned button">Siguiente</div>
</div>



