
.ui.segment {
  min-height: 200px;
  min-width: 300px;
}

#thumbs {
  position: absolute;
  bottom: 15px;
}

.thumbs {
  margin: 15px;
}

.flex {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
